.capture-container {
  &__button {
    width: 100px;
    margin-left: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1.0rem;
    border: none;
    border-radius: 0.5rem;
    background: #fec52e;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  
    &:focus,
    &:active {
      border: solid 2px black;
    }
    
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}